{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class = "d-flex flex-row align-items-bottom justify-content-center">
        <div id = "chat" class = "container d-flex flex-column" style = "max-height: 85vh; overflow: scroll;"></div>
        <div class = "d-flex flex-column align-items-center fixed-bottom p-4 bg-secondary" style = "height: 15vh;">
            <div class = "d-flex flex-row justify-content-center w-100 h-100">
                <textarea id = "prompt-input" rows = "4" cols = "100" style = "resize: none;"></textarea>
                <button>Prompt!</button>
            </div>
        </div>
    </div>
    <script type = 'text/javascript' src = "{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}
